<div class="card-footer text-muted fondo">
    {{precio}}}
    <br>


    <label>Precio</label>
    <input type="number" [value]="precio" (change)="calculoImporte($event)">
    <br>

    <label>Este es el importe {{importe}}</label>
    <br>
    <label>Cantidad </label>
    <input type="number" [value]="cantidad" (change)="cantidad=$event.target.value">
    <br>

    <button (click)="calculaTotal()">Importe Total</button>

    <button type="button" class="btn btn-primary" (click)="seleccionar()">Escoger</button>

</div>
